<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>113757101194-82c49bdeo7du5mjh4ssgrmj7tbmpbjgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113757101194-82c49bdeo7du5mjh4ssgrmj7tbmpbjgj</string>
	<key>API_KEY</key>
	<string>AIzaSyAl6GhBfnRRymYAusMVWtrrkCccGTSqapQ</string>
	<key>GCM_SENDER_ID</key>
	<string>113757101194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.pajlot.pajlotAeroWx</string>
	<key>PROJECT_ID</key>
	<string>pajlot-aero-wx</string>
	<key>STORAGE_BUCKET</key>
	<string>pajlot-aero-wx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113757101194:ios:c3b5236e81ca62bf</string>
	<key>DATABASE_URL</key>
	<string>https://pajlot-aero-wx.firebaseio.com</string>
</dict>
</plist>